body{
    text-align: center;
}
#format{
    width: auto;
}

#question {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    padding: 4px;
}

#bioTitle{
    font-size: 30px;
    padding: 10px;
}