body{
    text-align: center;
}
#format{
    width: auto;
}

#question {
    font-size: 40px;
    padding: 4px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.artistName {
    font-size: 40px;
    font-weight: bolder;
    padding-left: 30px;
}

.album {
    font-size: 18px;
    font-weight: bold;
    padding: 30px;
}

.bioTitle{
    font-size: 30px;
    padding: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.genre {
    padding: 10px;
}

.bio {
    padding: 10px;
}

.home {
    margin: 10px;
}